<!DOCTYPE html>
<html class='use-all-space'>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset='UTF-8'>
    <title>Maps SDK for Web - Marker clustering</title>
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link rel='stylesheet' type='text/css' href='sdk/map.css'/>
    <link rel='stylesheet' type='text/css' href='css/elements.css'/>
    <script type='text/javascript' src='js/form.js'></script>
    <script type='text/javascript' src='sdk/tomtom.min.js'></script>
</head>
<body class='use-all-space'>
    <div id='map' class='use-all-space'></div>
    <script>
        // Define your product name and version
        tomtom.setProductInfo('MapsWebSDKExamplesSelfhosted', '4.47.2-SNAPSHOT');
        var addressPoints = [
            [-33.87, 151.21, 'Sydney'],
            [-37.81, 144.96, 'Melbourne'],
            [-27.46, 153.02, 'Brisbane'],
            [-31.96, 115.84, 'Perth'],
            [-34.93, 138.60, 'Adelaide'],
            [-32.92, 151.75, 'Newcastle'],
            [-28.07, 153.44, 'Gold coast'],
            [-35.31, 149.13, 'Canberra'],
            [-34.42, 150.87, 'Wollongong'],
            [-25.88, 152.56, 'Sunshine coast'],
            [-42.85, 147.29, 'Hobart'],
            [-38.14, 144.32, 'Geelong'],
            [-19.26, 146.78, 'Townsville'],
            [-16.92, 145.75, 'Cairns'],
            [-41.45, 147.13, 'Launceston'],
            [-36.06, 146.92, 'Albury-wodonga'],
            [-12.43, 130.85, 'Darwin'],
            [-27.56, 151.96, 'Toowoomba'],
            [-37.56, 143.84, 'Ballarat'],
            [-34.88, 150.59, 'Shoalhaven']
        ];

        // Creating the map
        var map = tomtom.map('map', {
            key: '4mXdXKAv0CQKru0SpInttSAw2CVOliMz',
            source: 'vector',
            basePath: '/sdk'
        }).setView([-26.5, 135.0], 2);

        // Placing markers
        var markers = tomtom.L.markerClusterGroup();
        addressPoints.forEach(function(point) {
            var title = point[2],
                marker = tomtom.L.marker(new tomtom.L.LatLng(point[0], point[1]), {title: title});
            marker.bindPopup(title);
            markers.addLayer(marker);
        });
        map.addLayer(markers);
    </script>
</body>
</html>
